body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FF1940;
  }

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 0.8px;
  word-spacing: -5px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
  
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 0.8px;
  word-spacing: 5px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
