html {
  cursor: ew-resize;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #FF1940;
  margin-left: 10%;
  }

p {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 0.3px;
  word-spacing: -1.5px;
  color: #000000;
  font-weight: 450;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
  
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 0.8px;
  word-spacing: 5px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
